<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" style="padding-top: 0;"><img src="{{ asset('apple-touch-icon.png') }}" width="40%"> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {#<li class="active"><a href="{{ path("menu_homepage") }}">Accueil<span class="sr-only">(current)</span></a></li>#}
                {#<li><a href="{{ path("menu_homepage") }}">Lien2</a></li>#}
                {#<li class="dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles<span class="caret"></span></a>#}
                {#<ul class="dropdown-menu">#}
                {#<li><a href="#">Tous les articles</a></li>#}
                {#<li><a href="#">Les 5 dernières articles</a></li>#}
                {#<li><a href="#">Quelque chose ici</a></li>#}
                {#<li role="separator" class="divider"></li>#}
                {#<li><a href="#">Action supplémentaire</a></li>#}
                {#<li role="separator" class="divider"></li>#}
                {#<li><a href="#">Une autre action</a></li>#}
                {#</ul>#}
                {#<li><a href="{{ path("menu_contacts") }}">Contacts</a></li>#}


                {#MENU  SIMPLE#}
                {#{% for option in menuOptions %}#}
                {#//ATTENTION option est désomrais un tableau associatif#}
                {#<li style="color:white;padding-left: 1em;padding-top:1em;">#}
                {#{% if( option.route == "blog_voir") %}#}
                {#<a href="{{ path(option.route, {id: option.identifiant}) }}" title="{{ option.titre ~"["~ option.identifiant ~ "]"}}">{{ option.libelle ~ "[" ~ option.identifiant ~ "]" }}</a>#}
                {#{% else %}#}
                {#<a href="{{ path(option.route) }}" title="{{ option.titre }}">{{ option.libelle }}</a>#}
                {#{% endif %}#}
                {#</li>#}
                {#{% endfor %}#}

                {% for option in menuOptions %}
                    {#ATTENTION option est désomrais un tableau associatif#}
                    <li style="color:white;padding-left: 1em;padding-top:0.5em;">
                    {% if( option.route != "") %}
                        {% if( option.route == "blog_voir") %}
                            <a href="{{ path(option.route, {id: option.identifiant}) }}" title="{{ option.titre ~"["~ option.identifiant ~ "]"}}">{{ option.libelle ~ "[" ~ option.identifiant ~ "]" }}
                            </a>
                        {% else %}
                            <a href="{{ path(option.route) }}" title="{{ option.titre }}">{{ option.libelle }}
                            </a>
                        {% endif %}
                    </li>

                    {% else %}
                        {#Ici aucune route n'a été définie donc un lien un peu différent#}
                    <li style="color:white;padding-left: 1em;padding-top:0.5em;">
                         <a href="#" title="{{ option.titre }}"></a>
                    </li>
                        {#attention y a t il des enfants pour cette option ?#}
                        {% if (option.enfants is defined) %}
                            {#y a des enfants#}
                        <li class="dropdown" style="color:white;padding-left: 1em;padding-top:0.5em;">
                            {#liste pour afficher le node suivant#}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ option.libelle }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for enfant in option.enfants %}
                                    <li>
                                        {% if (enfant.route == "blog_voir") %}
                                            <a href="{{ path(enfant.route, {id: enfant.identifiant}) }}" title="{{ enfant.titre ~ " [" ~ enfant.identifiant ~ "]" }}">{{ enfant.libelle  ~ " [" ~ enfant.identifiant ~ "]" }}
                                            </a>
                                        {%  else %}
                                            <a href="{{ path(enfant.route) }}" title="{{ enfant.titre }}">{{ enfant.libelle }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                         </li>
                {% endfor %}
        </ul>

        <form class="navbar-form navbar-right" style="color:white;padding-left: 1em;padding-top:0.3em;">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="rechercher">
            </div>
            <button type="submit" class="btn btn-default">Rechercher</button>
        </form>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>